.navbar--wrapper {
  width: 100vw;
  height: max-content;
  background-color: hsla(0, 1%, 75%, 0.733);
}

.navbar {
  width: 100vw;
  max-width: 1900px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar--navpoints {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10%;
}

.navbar--navpoints li {
  display: inline;
  padding-right: 30px;
  font-size: 1.2rem;
}

.navbar--navpoints li a {
  text-decoration: none;
  color: black;
}

.navbar--navpoints li a:hover {
  color: hsl(212, 98%, 57%);
  transition: 120ms;
  
}

.navbar img {
  width: 60px;
  height: 60px;
  margin-left: 10%;
}


.header {
  margin-top: 5%;
  text-align: center;
}

.imgwrapper {
  display: flex;
  flex-direction: column;
}
.nasaimg {
  align-self: center;
  width: 80vw;
  max-width: 1000px;
  height: auto;
  margin: 25px 0 25px 0;
}